/* Fix ui-bootstrap nav menu */
@media (max-width: 767px) {

    .visible-xs.collapse.in {
        display: block!important;
    }
    .visible-xs.collapse {
        display: none!important;
    }

}


/* home page */
.master {
    margin-top: 50px;
}


#home #projects {
    height: 300px;
    background-color: #AA8439;
}


/* helios roofing */
.btn-helios {
  color: #28426D;
  background-color: #fff;
  border-color: #28426D; 
  border: solid 3px;
}

.btn-helios:hover{
  color: #fff;
  background-color: #28426D;
  border-color: #28426D; 
}

.btn, .thumbnail{
  border-radius: 0;
}

.thumbnail-icon{
  width: 40px;
  float: right;
}

.thumbnail-icon:hover{
  width: 45px;
}

.navbar-default {
background-color: #ffffff;
border-color: none;
border-top: 5px solid #28426D;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>li>a:hover {
color: #ffffff;
background-color: #28426D;
}

.navbar-default .navbar-nav>li>a {
color: #28426D;
}

.menu-img{
  height: 30px;
}

.v-center {display:table!important; 
  height:50px;
}

.v-center div[class*='col-'] {
  display: table-cell!important;
    vertical-align:middle;
    float:none;
}

.panel{
  position: fixed;
  right: 15px;
  width: 300px;
  z-index: 1200;
  border: none;
}

.panel-primary>.panel-heading{
  background-color: #28426D;
  border-color: #28426D; 
}

.panel-primary {
border-color: none;
-webkit-box-shadow: 0 0 9px 0 rgba(0,0,0,0.18);
box-shadow: 0 0 9px 0 rgba(0,0,0,0.18);
}

.carousel{
  height: auto;
}

.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
top: 70%;
}

.carousel-control.right, .carousel-control.left{
  background-image:none;
}

.carousel-indicators {
bottom: 100px;
}

.carousel-caption{
  padding-bottom: 120px;
}

.carousel-caption .glyphicon{
  font-size: 30px;
  vertical-align: middle;
}

.carousel-inner .item {
  height: 500px;
}

.carousel-inner img{
  -webkit-filter: contrast(1.8) grayscale(0.1) invert(0.2);
}

.carousel-inner h1{
  font-family: Arial;
}

.carousel-inner h1, .carousel-inner p{
  text-shadow:10px 7px 35px black;
}


.btn-lg, .btn-group-lg>.btn {
border-radius: 0px;
}

.btn-outline {
color: #fff;
background-color: rgba(255, 200, 67, 0.8);
}

/* Sart of weather-bar*/

#weatherBar {
  position: absolute;
  z-index: 19;
  background-color: black;
  height: 145px;
  left: 50%;
  margin-left: -250px;
  top: 730px;
}

.table{
  color: white;
}

th{
  text-align: center;
  font-size: smaller;
}

th img{
  width: 34px;
  margin-top: -7px;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
padding-top: 11px;
border-top: none;
width: 70px;
vertical-align: middle;
}

.table-bordered, .table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
border: none;
}

.date{
  font-weight: 100;
}

.project_service{
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  font-size: 11px;
  color: black;
}

.roof_repair{
  background-color: #6DADC9;
}

.gutter_fix{
  background-color: #ADCEE1;
}
.inspection {
  background-color: #AEBCCE
}

.default_service{
  background-color: antiquewhite;
}

/* End of weather-bar*/

.logo img{
  margin: 120px 0 0 0;
}

.logo .text {
  margin-bottom: 55px;
  font-size: 21px;
  color: rgb(50, 81, 113);
}

/* Start of Footer */
#contact{
  color: #28426D;
}

#contact .bg{
  /*color: rgb(8, 40, 69); 
  height: 100px;
  background-image: url("/static/img/map.jpg"); 
  background-repeat: no-repeat;
  width: 100%;*/
  background-size: 100%;
}

#contact .phone-number{
  background-color: #fff;
}

#contact .row{
  margin-bottom: 60px;
}

#contact h1{
  font-weight: normal;
  padding: 60px 0px 0px 0px;
}

#contact h5{
  color: #fff;
}


#contact p{
  font-weight: 200;
}


#contact .dl-horizontal dd {
margin-left: 0;
}

#contact .dl-horizontal dt{
  width: auto;
}

.contact-form {
  padding-left: 40px;
}

#contact_1 h2{
  margin: 0px;
}

#contact_1{
  margin-bottom: 60px;
}

.contact-ways{
  background-color: rgb(40, 66, 109);
}

.contact-ways p{
  color: #fff;
}

.contact-ways{
  margin-bottom: 0;
}

footer{
  background-color: rgb(8, 40, 69);
  color: #fff;
  text-align: center;
}

footer

.blue-logo img{
  padding-top: 30px;
  width: 60px;
}

/* End of Footer*/

/* Start of Project Summary */
#project-summary{
    background-color: #28426D;
}

#project-summary blockquote{
  height: 80px;
  overflow: hidden;
}

#project-summary .container{
  max-width: 960px;
}

#project-summary h1{
  color: #fff;
  padding: 50px;
}

.porject-more-butten{
  font-size: 30px;
  width: 100%;
  color: #fff;
  background-color: #28426D;
  border-color: #fff; 
  border: solid 3px;
  opacity: 0.2;
  margin: 60px 0px 90px 0px;
}

.porject-more-butten:hover{
  color: #fff;
  background-color: #28426D;
  border-color: #fff; 
  opacity: 1;
}

/* End of Project Summary*/



/* Start of Services page */
#services{
  color: #fff;
  /*background-image: url("http://www.wallpapersdesign.net/wp-content/uploads/2013/06/Usa-New-York-City-Buildings-Rockefeller-Center.jpg");*/
  background-repeat: no-repeat;
  background-size:cover;
  /*background-color:rgb(230,230,230); 
  background-image: url("/static/img/bg.jpg");*/
}

#services .container{
  max-width: 900px;
}
#services .thumbnail{
  border: none;
  background-color: rgba(255, 255, 255, 0.75);
    -webkit-transition: 0.3s;
       -moz-transition: 0.3s;
            transition: 0.3s;
  /*background-color:#fff; 
    background-size: 150px 150px;
  background-position:center bottom;*/
}
#services p{
  font-size: 12px;
  opacity: 0.7;
}

#services h1{
  padding-top: 60px;
}

#services .about{
  margin-bottom: 60px;
  margin-top: 10px;
  font-size: 1.5em;
}

#services .thumbnail img{
  margin-top: 30px;
  margin-bottom: 30px;
  border: 5px solid #135081;
  box-shadow: 0 0 0 3px #135081;
  border-radius: 50%;
  -webkit-transition: border 0.3s;
     -moz-transition: border 0.3s;
          transition: border 0.3s;
}

#services .thumbnail:hover{
  background-color: rgba(255, 255, 255, 1);

}

#services .thumbnail:hover img{
  border: 5px solid #fff;
}

#services .categories{
  margin-bottom: 60px;
}

#services .categories img{
  max-width: 30px;
}


#services .categories .btn{
  background: #fff;
  color: #28426D;
  opacity: 0.7;
  padding: 10px;
}


#services .categories .btn:hover{
  opacity:1;
}

#services .categories .btn.current {
  background-color: #28426D;
  color: #fff;
}

#services .thumbnail .caption {
  height: 230px;
}

#services .service-summary {
  height: 80px;
  overflow-y: scroll;
}

#services .detial-btn{
  color: #28426D;
  padding: 5px 15px;
  margin: 15px;
  border: 1px solid #28426D;
  background: #fff;
  opacity: 0.6;
}

#services .detial-btn:hover{
  opacity: 1;
}


/* End of Services*/

/* Start of Project Detail */
#projects .row{
  margin-bottom: 30px;
}

#projects .btn-helios{
  opacity: 0.4;
}

#projects .more-projects-btn{
  margin-bottom: 180px;
}

#projects h3{
  margin: 0;
  padding: 0;
  color: rgb(8, 40, 69);
}
.project-secondary-text p{
padding: 40px;
}

/* Start of Project Detail */

/* Start of Chat Box */
#chat-box .panel-body {
  width: 100%; 
  height: 150px;
  overflow: auto;
}

.footer-btn {
  position: absolute !important; 
  bottom: 0;
}

img.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
}

img.profile-pic.left {
  left: 10px;
}

img.profile-pic.right {
  right: 10px;
}

.ion-email {
  float: right;
  font-size: 32px;
  vertical-align: middle;
}

.message {
  font-size: 14px;
}

.message-detail {
  white-space: nowrap;
  font-size: 14px;
}

.bar.item-input-inset .item-input-wrapper input {
  width: 100% !important;
}

.message-wrapper {
  position: relative;
}

.message-wrapper:last-child {
  margin-bottom: 10px;
}

.chat-bubble {
  border-radius: 5px;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  margin: 10px;
  max-width: 80%;
}

.chat-bubble:before {
  content: "\00a0";
  display: block;
  height: 16px;
  width: 9px;
  position: absolute;
  bottom: -7.5px;
}

.chat-bubble.left {
  background-color: #e6e5eb;
  float: left;
  margin-left: 55px;
}

.chat-bubble.left:before {
  background-color: #e6e5eb;
  left: 10px;
  -webkit-transform: rotate(70deg) skew(5deg);
}

.chat-bubble.right {
  background-color: #158ffe;
  color: #fff;
  float: right;
  margin-right: 55px;
}

.chat-bubble.right:before {
  background-color: #158ffe;
  right: 10px;
  -webkit-transform: rotate(118deg) skew(-5deg);
}

.chat-bubble.right a.autolinker {
  color: #fff;
  font-weight: bold;
}

.user-messages-top-icon {
  font-size: 28px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
  right: 5px;
}

.msg-header-username {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
}

input, textarea, .item-input, .item-input-wrapper {
  background-color: #f4f4f4 !important;
}

.bold {
  font-weight: bold;
}

.cf {
  clear: both !important;
}

a.autolinker {
  color: #3b88c3;
  text-decoration: none;
}

/* loading */
.loader-center {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.loader .ion-loading-c {
  font-size: 64px;
}
/* End of Chat Box*/
