
  <!-- CONTACT -->
  <div id="contact">
    <div class="container">

        <div class="row text-center">  
          <h1>{{'Contact Us' | translate: this}}</h1>
          <p>{{'contactus_line1' | translate: this}}</p>
          <p>{{'contactus_line2' | translate: this}}</p>  
        </div>
    </div>



    <div class="row">
      <div class="col-md-offset-2 col-md-4">
        <img class="bg img-responsive" src="/static/img/map.jpg">
      </div>




      <div class="phone-number col-md-4">
        <div id="contact_1">
          <h2>604-783-6095</h2>
          <P>VANCOUVER - BURNABY - RICHMOND - TWAWWASSEN - NORTH VANCOUVER - WEST VANCOUVER</P>
        </div>
        <div id="contact_2">
          <h2>604-783-2086</h2>
          <P>NEW WESTMINSTER - PORT MOODY - PORT COQUITLAM - COQUITLAM - MAPLE RIDGE - DELTA - SURREY - WHITE ROCK - LANGLEY - ABBORTSFORD</P>
        </div>
      </div><!-- /.col-md-6-->
    </div> <!-- row -->



    <div class="row">
      <div class="col-md-offset-4 col-md-4">       
        <a class="btn btn-helios btn-block" role="button" ng-click="openEstimateModal()">{{'Free Estimate' | translate: this}}</a> 
      </div>
    </div>
</div><!-- #contact -->


      <div class="row contact-ways text-center">

          <div class="col-md-offset-1 col-md-2">
            <img src="/static/img/location.png">
            <h5>{{'Address' | translate: this}}</h5>
            <p>200-5050 Kingsway
              </br>Burnaby BC, Canada
              </br>V5H 4H2 
            </p>               
          </div>

          <div class="col-md-2">
            <img src="/static/img/email.png">
            <h5>{{'Email' | translate: this}}</h5>
            <p>info@heliosroofing.com</p>                                          
          </div>


          <div class="col-md-2">
            <img src="/static/img/fax.png">
            <h5>{{'Fax' | translate: this}}</h5>
            <p>604-288-1070</p>                 
          </div>

          <div class="col-md-2">
            <img src="/static/img/hours.png">
            <h5>{{'Office Hours' | translate: this}}</h5>
            <p>Monday - Friday</br>
              9:00am - 17:00pm
            </p>                                 
          </div>


          <div class="col-md-2">
            <img src="/static/img/24hrs.png">
            <h5>{{'Emergence Service' | translate: this}}</h5>
            <p>Monday - Sunday 24 Hrs
            </p>                 
          </div>

      </div><!-- row -->




      <!-- FOOTER -->
<footer class="row">

    <div class="container">

      <div class="blue-logo">
        <img src="/static/img/icon-bottom.jpg">
        <p>© 2015 Helios Roofing and Waterproofing LTD.</p>
      </div>

      <p class="pull-right"><a ng-click="scrollToTop()">Back to top</a></p>
  </div>


</footer>

<div id="estimate-shortcut">
  <span class="icon glyphicon glyphicon-envelope" ng-click="openEstimateModal()"></span>
</div>

