<div id="home">
      <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">


      <!--Logo-->
      <div class="logo">
        <center><img src="/static/img/logo.jpg" alt="logo"><h3 class="text">Roofing & Waterprofing</h3></center>
      </div>
      <!--End Logo-->

      <!-- Carousel -->
		    <carousel interval="myInterval">
		      <slide ng-repeat="slide in slides" active="slide.active">
		        <img ng-src="{{slide.image}}" style="margin:auto;">
		        <div class="carousel-caption">
		          <h1>{{slide.title | translate: this}}</h1>
		          <p>{{slide.detail | translate: this}}</p>
		        </div>
		      </slide>
		    </carousel>
    </div> <!--End of Carousel -->

      <!-- Weather Bar-->
      <weather-bar></weather-bar>


        <div class="container" id="service-summary">
          <div class="row">
            <h1 class="text-center">Our Main Services</h1>
            <div class="about col-md-offset-2 col-md-8">
            <p>We are roofing contractor who is offer a total roofing, reroofing, waterproofing and repair service on all roof system, we are willing to take up any challenges to get the job done right. We work on commercial, and residential projects, satisfying the needs of owners and managers alike.</p>
            </div>
          </div>


          <div class="row">
            <div class="col-xs-6 col-md-3 col-sm-4">
              <div class="thumbnail" ng-click="openServiceModal('touchOn')">
                <img class="img-responsive" src="/static/img/services/Torch-On_Roofing.png" alt="services icon">
                <div class="caption text-center">
                  <h5>Torch-On</h5>
                  <p class="service-summary hidden-xs">We help you to install and maintain this type of roof.</p>
                  <p class="hidden-xs"><a href="#" class="btn detial-btn" role="button">More Detial</a></p>
                </div>
              </div>
            </div>

            <div class="col-xs-6 col-md-3 col-sm-4">
              <div class="thumbnail" ng-click="openServiceModal('touchOn')">
                <img class="img-responsive" src="/static/img/services/Single-Ply_Roofing.png" alt="services icon">
                <div class="caption text-center">
                  <h5>Single-Ply Roofing</h5>
                  <p class="service-summary hidden-xs">Single ply roof systems provide strength, flexibility, and long-lasting durability. The inherent advantages of pre-fabricated sheets are the consistency of the quality of the products that are manufactured, the versatility in their attachment methods, and therefore, their broader applicability.</p>
                  <p class="hidden-xs"><a href="#" class="btn detial-btn" role="button">More Detial</a></p>
                </div>
              </div>
            </div>

            <div class="col-xs-6 col-md-3 col-sm-4">
              <div class="thumbnail" ng-click="openServiceModal('touchOn')">
                <img class="img-responsive" src="static/img/services/Inverted_Roofing.png" alt="services icon">
                <div class="caption text-center">
                  <h5>Inverted Roofing</h5>
                  <p class="service-summary hidden-xs">In this type of construction the principal thermal insulation material is applied on top of the weatherproof covering so that the complete roof construction including roof covering is kept at warm temperatures during the winter months and at moderate temperatures during the summer months.</p>
                  <p class="hidden-xs"><a href="#" class="btn detial-btn" role="button">More Detial</a></p>
                </div>
              </div>
            </div>

            <div class="col-xs-6 col-md-3 col-sm-4">
              <div class="thumbnail" ng-click="openServiceModal('touchOn')">
                <img class="img-responsive" src="static/img/services/Inverted_Roofing.png" alt="services icon">
                <div class="caption text-center">
                  <h5>Inverted Roofing</h5>
                  <p class="service-summary hidden-xs">In this type of construction the principal thermal insulation material is applied on top of the weatherproof covering so that the complete roof construction including roof covering is kept at warm temperatures during the winter months and at moderate temperatures during the summer months.</p>
                  <p class="hidden-xs"><a href="#" class="btn detial-btn" role="button">More Detial</a></p>
                </div>
              </div>
            </div>

          </div>


                <div class="service-summary-btn-row row">
                  <div class="col-md-offset-4 col-md-4">       
                    <a class="btn btn-helios btn-block" role="button">Shaw All Servrices</a> 
                  </div>
                </div>
        </div>




      <div class="container-fluid" id="project-summary">
        <div class="container">
          <h1 class="text-center">{{'Project summary' | translate: this}}</h1>
          <div class="row">
            <div class="col-sm-6 col-md-4" ng-repeat="project in projectHighlight">           
                 <img class="img-responsive" ng-src="{{project.img0}}" alt="project image">
              <div class="thumbnail">
              <div class="caption">       
                <blockquote>
                  <h4>{{project.title}}<h4>
                  <h5>{{project.service}}</h5>
                </blockquote>       
            
                <a ui-sref="root.projects.detail({projectId: project.projectId})" class="btn btn-helios" role="button">Project Detials</a> 
                <a href="#" ng-click="openServiceModal('touchOn')"><img class="thumbnail-icon" src="/static/img/services/Repair_and_Maintenance.png" alt="services icon"></a>
              </div><!--.caption-->
              </div><!-- thumbnail-->
            </div><!-- col-sm-6 col-md-4-->
          </div><!--row-->
        </div>
            <div class="project-summary-btn-row row">
             <div class="col-md-offset-4 col-md-4">       
               <a class="btn btn-helios-dark btn-block" role="button">Shaw All Projects</a> 
             </div>
          </div>
      </div>
</div>
