<div id="projects">
  <div class="row">
    <div class="col-sm-6 col-md-3" ng-repeat="project in projects">
      <div class="thumbnail">
            <img src="http://placehold.it/350x350" alt="...">
            <div class="caption">
              <h3>{{project.name}}</h3>
              <p>{{project.detail}}</p>
              <p><a ui-sref="root.projects.detail({projectId: project.projectId})" class="btn btn-primary" role="button">Button</a> <a ui-sref="root.projects.detail({projectId: project.projectId})" class="btn btn-default" role="button">Button</a></p>
            </div>
          </div>
    </div>
  </div>
</div>