        <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!--Logo-->
      <div class="logo">
        <center><img src="/static/img/logo.jpg" alt="logo"><h3 class="text">Roofing & Waterprofing</h3></center>
      </div>
      <!--End Logo-->
    </div><!-- /.carousel -->
    <div class="container" id="projects">
 
      <div class="row">
        <div class="col-md-12">
          <img class="img-responsive" src="{{project.titleImg}}" err-hide alt="project image">
        </div>
      </div>

      <div class="row">
        <h1 class="text-center">{{project.title}}</h1>
      </div>

      <div class="row">
        <div class="col-md-12" ng-repeat="n in [] | range:10">
          <img class="img-responsive" ng-src="{{project.folder}}/{{n}}.jpg" err-hide alt="project image">
        </div>
      </div>
          
        <div class="more-projects-btn">
          <a ui-sref="root.projects.summary" class="btn btn-helios col-md-offset-10 col-md-2 col-xs-12" role="button">More Projects Here</a> 
        </div>
  
 
  

    </div><!-- /.container projects-->