<div class="container-fluid" id="project-summary">
  <div class="container">
    <h1 class="text-center">Project summary</h1>
    <div class="row">
      <div class="col-sm-6 col-md-4" ng-repeat="project in projectSummary">           
           <img class="img-responsive" src="{{project.img0}}" alt="project image">
        <div class="thumbnail">
        <div class="caption">       
          <blockquote>
            <h4>{{project.title}}<h4>
            <h5>{{project.service}}</h5>
          </blockquote>       
          <p>{{project.info}}</p>
      
          <a ui-sref="root.projects.detail({projectId: project.projectId})" class="btn btn-helios" role="button">Project Detials</a> 
          <a href="#" ng-click="openServiceModal('touchOn')"><img class="thumbnail-icon" src="/static/img/services/Repair_and_Maintenance.png" alt="services icon"></a>
        </div><!--.caption-->
        </div><!-- thumbnail-->
      </div><!-- col-sm-6 col-md-4-->
    </div>
  </div>
</div>