<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!--Logo-->
  <div class="logo">
    <center><img src="/static/img/logo.jpg" alt="logo"><h3 class="text">Roofing & Waterprofing</h3></center>
  </div>
  <!--End Logo-->
</div><!-- /.carousel -->



<div class="container-fluid" id="project-summary">
  <div class="container">
    <h1 class="text-center">Project summary</h1>
    <div class="row">
      <div class="col-sm-6 col-md-4" ng-repeat="project in projectSummary">           
           <img class="img-responsive" ng-src="{{project.folder}}/{{project.titleImg}}" alt="project image">
        <div class="thumbnail">
        <div class="caption">       
          <blockquote>
            <h4>{{project.title}}<h4>
            <h5>{{project.service}}</h5>
          </blockquote>       
          <p>{{project.info}}</p>
      
          <a ui-sref="root.projects.detail({projectId: project.projectId})" class="btn btn-helios" role="button">Project Detials</a> 
          <a href="#" ng-click="openServiceModal(project.service)"><img class="thumbnail-icon" src="/static/img/services/Repair_and_Maintenance.png" alt="services icon"></a>
        </div><!-- caption-->
        </div><!-- thumbnail-->
      </div><!-- col-sm-6 col-md-4-->
    </div>
  </div>
</div>
