        <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!--Logo-->
      <div class="logo">
        <center><img src="/static/img/logo.jpg" alt="logo"><h3 class="text">Roofing & Waterprofing</h3></center>
      </div>
      <!--End Logo-->
    </div><!-- /.carousel -->
    <div class="container" id="projects">
 
       <div class="row">
        <div class="col-md-12">
          <img class="img-responsive" src="{{project.img0}}" alt="project image">
        </div>
        </div>

      <div class="row">
        <h1 class="text-center">{{project.title}}</h1>
      </div>

      <div>
          <p class="col-md-12 text-center lead">{{project.info}}</p>
      </div>

      <div class="row">
        <div class="col-md-6">
          <img class="img-responsive" src="{{project.img1}}" alt="project image">      
        </div>

        <div class="col-md-6">
          <img class="img-responsive" src="{{project.img2}}" alt="project image">
        </div>
      </div>

       <div class="row">
        <div class="col-md-12">
          <img class="img-responsive" src="{{project.img3}}" alt="project image">
        </div>
        </div>

      <div class="row">
        <div class="col-md-6 project-secondary-text lead">
              <p>{{project.detail}}
              </p>
        </div>

        <div class="col-md-6">
          <img class="img-responsive" src="{{project.img4}}" alt="project image">
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <img class="img-responsive" src="{{project.img5}}" alt="project image">      
        </div>

        <div class="col-md-6">
          <img class="img-responsive" src="{{project.img6}}" alt="project image">
        </div>
      </div>

          
  
 
  

    </div><!-- /.container projects-->