<div class="row service-detial">

	<div class="col-md-1">
		<img class="servrice-icon" ng-src="{{service.icon}}"> 
	</div>

		
	<div class="col-md-7"> 
		<h4 class="text-center modal-title">{{service.name | translate: this}}</h4>  
	    <div ng-bind-html="service.detail[language] || service.detail.en"</div>
	</div>


	<div class="col-md-4">    
	    <img class="detial-img" ng-src="{{service.img}}">
	</div>
	

</div>


<button type="button" class="btn btn-default" ng-click="cancel()">Close</button>

