<div class="container-fluid" id="services">
  <div class="row">
    <div class="col-sm-6 col-md-3" ng-repeat="service in services">
      <div class="thumbnail">
        <img src="http://placehold.it/350x350" alt="...">
        <div class="caption">
          <h3>{{service.name}}</h3>
          <p>{{service.detail}}</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
