<div class="container-fluid" id="services" ng-style="{'background-image': categoryCfg.backgroundImg}">
  <div class="container">

  <div class="row">
    <h1 class="text-center">{{'Our Services' | translate: this}}</h1>
    <p class="about col-md-12">{{categoryCfg.summary | translate: this}}</p>
  </div>


<div class="row categories text-center">
    <div class="col-md-6 col-xs-6">
      <a class="btn btn-block" ng-class="{current: category == 'commercial'}" ui-sref="root.services({category: 'commercial'})">{{'Commercial' | translate: this}}</a>
    </div>

        <div class="col-md-6 col-xs-6">
      <a class="btn btn-block" ng-class="{current: category == 'residential'}" ui-sref="root.services({category: 'residential'})">{{'Residential' | translate: this}}</a>
    </div>

  </div>



  <div class="row">
    <div class="col-xs-6 col-md-4 col-sm-4" ng-repeat="service in services">
      <div class="thumbnail" ng-click="openServiceModal(service.code)">
        <img ng-src="{{service.icon}}" alt="services icon">
        <div class="caption text-center">
          <h5>{{service.name | translate: this}}</h5>
          <p class="service-summary hidden-xs">{{service.detail | translate: this}}</p>
          <p class="hidden-xs"><a href="#" class="btn detial-btn" role="button">{{'More Detail' | translate: this}}</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
